.container-about {
  width: 100%;
  font-family: "Yekan";
  direction: rtl;
}
.container-about h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 70px;
}
.children {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.section-about {
  margin: 100px;
}
.section-about h1 {
  font-size: 50px;
  color: #5b5b5b;
}
.section-about h1::after {
  content: "";
  width: 43%;
  background: #095497;
  display: inline-block;
  height: 5px;
  margin: 20px;
}
.section-about p {
  display: flex;
  justify-content: flex-end;
  line-height: 1.5rem;
  font-size: 18px;
}
@media screen and (max-width: 400px) {
  .container-about h1 {
    font-size: 30px;
  }
  .children {
    grid-template-columns: auto;
  }
  .section-about {
    margin: 40px;
  }
  .section-about p {
    display: flex;
    justify-content: flex-end;

    font-size: 1rem;
  }
  .section-about h1::after {
    width: 48%;
  }
}
@media screen and (max-width: 768px) and (min-width: 401px) {
  .children {
    grid-template-columns: auto;
  }
  .section-about {
    margin: 0 200px 0 200px;
  }
}
